[submodule "3rd_party/binary_parser"]
	path = 3rd_party/binary_parser
	url = https://github.com/EqZotiQQQ/binary_parser.git
[submodule "3rd_party/benchmark"]
	path = 3rd_party/benchmark
	url = https://github.com/google/benchmark
[submodule "3rd_party/googletest"]
	path = 3rd_party/googletest
	url = https://github.com/google/googletest
[submodule "3rd_party/fmt"]
	path = 3rd_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd_party/date"]
	path = 3rd_party/date
	url = https://github.com/HowardHinnant/date.git
[submodule "3rd_party/argparse"]
	path = 3rd_party/argparse
	url = https://github.com/p-ranav/argparse.git
